---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/CycleSuperhighway/RMP-006?app_id=TFL_APP_ID&app_key=TFL_APP_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - CycleSuperhighway, CycleSuperhighway
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/CycleSuperhighway/RMP-006"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/cyclesuperhighway/rmp-006"
      X-Ttl:
      - '300.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$id":"1","$type":"Tfl.Api.Presentation.Entities.CycleSuperhighway,
        Tfl.Api.Presentation.Entities","id":"RMP-006","label":"CS North South - Elephant
        & Castle to Greville Street","labelShort":"CSNS","geography":{"type":"LineString","coordinates":[[-0.1016,51.49514],[-0.10168,51.49517],[-0.10182,51.49523],[-0.1023,51.49543],[-0.1026,51.49551],[-0.10293,51.4956],[-0.10318,51.49567],[-0.10366,51.49581],[-0.1047297,51.4961447],[-0.1052686,51.4963158],[-0.1058087,51.4965074],[-0.1063538,51.4967403],[-0.1075906,51.4974068],[-0.1068546,51.4976099],[-0.106493,51.4977209],[-0.1061314,51.4978586],[-0.1048004,51.4985484],[-0.1049138,51.4985766],[-0.1049933,51.4986046],[-0.1050337,51.4986272],[-0.105075,51.4986576],[-0.1051059,51.498691],[-0.105112[...]
